span.lcc-keyword {color: #900867;}
span.lcc-variable {color: #DF0101;}
span.lcc-function {color: #00f;}
span.lcc-constant {color: #045FB4;}
span.lcc-communication {color: #999;}
span.lcc-constraint {color: #a22;}
